<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="icon" href="/img/favicon.webp">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/search.js" defer></script>
</head>


<body>
  {% include "header.njk" %}
  <main>
    <div id="searchResults"></div>
    {{ content | safe }}
  </main>
  {% include "footer.njk" %}
</body>
</html>