---
layout: layout-page.njk
title: Página de Acerca
description: Meta Descripción de la página Acerca
---

<h1>{{ title }}</h1>
<p>
  Este proyecto es una wiki sobre Naruto que se ha creado con <i>11ty</i> y se ha desplegado en <i>GitHub Pages</i>.
  Desarrollado por Carlos Alexis Rendon Sierra para la materia de programación en la universidad de Amerike campus CDMX.
</p>
