---
layout: layout-page.njk
title: Página de inicio
description: Wiki sobre Naruto
---

<h1>{{ title }}</h1>
<p>
  Esta es la página de inicio de la wiki de Naruto. Aquí encontrarás información sobre los personajes, jutsus, clanes y mucho más. La wiki está hecha con Eleventy y alojada en GitHub Pages , usando la barra de busqueda puedes encontrar la información que necesitas de manera rápida y sencilla ya que te indicara el articulo que contenga la palabra que buscas.
</p>
<hr>